/* Blog.css */
.slick-slide {
    display: flex;
    justify-content: center;
  }
  
  .slick-dots {
    bottom: -40px;
  }
  
  .slick-dots li button:before {
    color: #60BF81; /* Cor dos dots */
  }
  
  .slick-prev,
  .slick-next {
    color: #60BF81; /* Cor dos botões de navegação */
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    color: #3B8C66;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-slide .bg-white {
    width: 100%;
    max-width: 600px; /* Limitar o tamanho máximo do post */
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .slick-slide .flex {
    display: flex;
    align-items: center;
  }
  
  .slick-slide .flex-1 {
    flex-grow: 1;
    text-align: center;
  }
  
  .slick-slide .text-lg {
    font-style: italic;
    color: #333;
  }
  